* {
	box-sizing: border-box !important;
}

.sign-up {
	background-image: url(../images/pexels-gdtography-277628-911738.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	height: 85vh;
	box-sizing: content-box;
}

.sign-up form {
	max-width: 400px;
	margin: 0 auto;
}
.nav-link h2{
	font-size: 42px;
	color: black;
}
.lead{
	font-size: 42px;
}
.sign-up .form-control {
	background: #f5f5f5;
	border: none;
	padding: 25px 15px !important;
}
.error {
	color: red;
}
.option{
	background-color: rgb(251, 5, 5);
	padding: 10px;
	border-radius: 10px;
	
}
.sign-up .option label {
	color: rgb(240, 240, 247);
	cursor: pointer;
}
